.Phonetic a {
    color: #6c63ff;
    font-weight: 400;
    margin-right: 15px;
    font-size: 14px;
    line-height: 17px;
    padding: 8px 18px;
    border: 1px solid #ddd;
    border-radius: 50px;
    text-decoration: none;
}

.Phonetic span {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #666;
    display: inline;
}

.Phonetic a:hover {
    background: #9670f4;
    color: white;
}

.Phonetic .text {
    opacity: 0.5;
    font-weight: bold;
}